@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

.MyGradient {
  mask-image: linear-gradient(to right,
      rgba(98, 92, 249, 0),
      rgba(98, 92, 249, 0.3) 5%,
      rgba(98, 92, 249, 0.5) 8%,
      rgba(98, 92, 249, 0.75) 11%,
      /* rgba(98, 92, 249, 0.75) 20%, */
      rgba(98, 92, 249, 1) 25%,
      rgba(98, 92, 249, 1) 50%,
      rgba(98, 92, 249, 1) 75%,
      /* rgba(98, 92, 249, 0.75) 80%, */
      rgba(98, 92, 249, 0.75) 89%,
      rgba(98, 92, 249, 0.5) 92%,
      rgba(98, 92, 249, 0.3) 95%,
      rgba(0, 0, 0, 0));
}

.translate-y-full {
  transform: translateY(100%);
}